<!--views/events/guestbook.ejs-->
<% include ../layouts/header %>
<h1>guestbook</h1>
Guestbook --  Asking people to sign in, share their thoughts, favorite memory, best wishes, etc.
<% include ../layouts/footer %>