<!--views/events/index.ejs-->
<% include ../header %>
<h1>Event</h1>
Event Info – specifics on event and venue, including way to RSVP [also info for out of town guests – a separate page?] [also want to ask people to offer to contribute pics, ideas, song suggestions, speeches at event]

<a href="/faq">Frequently Asked Questions</a>
<% include ../footer %>