<!--views/events/travel.ejs-->
<% include ../layouts/header %>

<h1>Travel</h1>

<h2>Out of Town Guests</h2>
<ul>
  <li><a href="https://www.hipmunk.com/flights/">Hipmunk</a></li>
  <li><a href="https://www.kayak.com/flights">Kayak</a></li>
</ul>

<h2>Local Hotels and Restaurants</h2>
<ul>
  <li><a href="http://www.yelp.com/search?find_desc=hotel&find_loc=Portland,+OR+97223">Local Hotels on Yelp</a></li>
  <li><a href="http://www.yelp.com/search?find_desc=restaurant&find_loc=Portland,+OR+97223">Local Restaurants on Yelp</a></li>
</ul>
<% include ../layouts/footer %>