        </section>
        <!-- end the offcanvas menu's 'main section' -->
        

      <!-- footerButtons   -->
      <div class="row">
        <div class="small-12 columns">
        
        <ul class="small-block-grid-3 text-center">

          <!-- button icons -->
          <li><a href="/event"><i class="fa fa-birthday-cake fa-3x"></i></a></li>
          <li><a href="/guestbook"><i class="fa fa-comments-o fa-3x"></i></a></li>
          <li><a href="/gallery"><i class="fa fa-camera-retro fa-3x"></i></a></li>
          
          <!-- button labels -->
          <li><a href="/event">Celebrate</a></li>
          <li><a href="/guestbook">Guestbook</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
        </div>
      </div>
      <!-- /footerButtons   -->


      <!-- footer by-line -->
      <div class="large-12 columns">
        <hr>
        <div class="row">
          <div class="large-12 columns text-center">
            <p class=""><small>© Angelo Cisneros. This first, then Guitar.</small></p>
          </div>
        </div>
      </div>
      <!-- /footer by-line -->


        <a class="exit-off-canvas"></a>
      </div>
    </div><!-- end offcanvas menu -->
    
    <!-- include core foundation scripts -->
    <script type="text/javascript" src="/js/vendor/jquery.js"></script>
    <script type="text/javascript" src="/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    
    <!-- add rem-unit-polyfill for rem unit to pixel conversion for IE8 compatibility-->
    <script type="text/javascript" src="/js/vendor/rem.min.js"></script>
    
    <!-- add slick.js to page for the image loader, and custom scripting rules below -->
    <script type="text/javascript" src="/js/vendor/slick/slick.min.js"></script>

    <!-- add flipclock.js to page for the countdown timer -->
    <script type="text/javascript" src="/js/vendor/flipclock/flipclock.min.js"></script>
    
    <!-- load custom scripts for slick.js and flipclock.js -->
    <script type="text/javascript" src="/js/custom.js"></script>

  </body>
</html>