<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
  
<!-- Harriet's site had to support as many different browsers as possible considering
  the guest list has many elderly folks. Found article to help Foundation 5 framework
  work on IE 8 and 9 here: http://foundation.zurb.com/forum/posts/241-foundation-5-and-ie8

  Additionally, needed a way to render rem units, so used method found using
  rem-unit-polyfill here: http://chuckcarpenter.github.io/REM-unit-polyfill/ -->
  
<!-- links to handle compatibility with Internet Explorer -->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
    <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
    <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
  <![endif]-->

<!-- foundation and core foundation vendor styles -->
  <link rel="stylesheet" href="/styles/css/foundation.min.css" />
  <script src="/js/vendor/modernizr.js"></script>

<!-- other vendor styles -->
  <link rel="stylesheet" type="text/css" href="/js/vendor/slick/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/styles/css/flipclock.css">

<!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="/styles/css/custom.css"/>

<!-- custom fonts -->
  <link href='http://fonts.googleapis.com/css?family=Noto+Serif:700' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>

<!-- navigation menu -->
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <% include menu %>

    <section class="main-section">
      <!-- content goes here -->