<!-- views/category buttons  -->

<div class="row">  
  <div class="row panel callout">
    
    <div class="small-4 columns">
      <a href="/event"><i class="fa fa-birthday-cake fa-3x"></i><label for="">Celebrate</label></a>
    </div>

    <div class="small-4  columns">
      <a href="/guestbook"><i class="fa fa-comments-o fa-3x"></i><label for="">Guestbook</label></a>
    </div>
    
    <div class="small-4 columns">
      <a href="/gallery"><i class="fa fa-camera fa-3x"></i></a><label for="">Memories</label>
    </div>
  
  </div>
</div>

