        </section>
        
        <div class="row">
          <div class="small-8 small-centered large-8 large-centered columns">
            <!-- global footer content -->
            <a href="/guestbook"><button class="button expand">Guest Book</button></a>
            <a href="/gifts"><button class="button expand">Gifts</button></a>
          </div>
        </div>

      <a class="exit-off-canvas"></a>

      </div>
    </div><!-- end navigation menu and main content -->
  
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    
    <!-- add rem-unit-polyfill for rem unit to pixel conversion for IE8 compatibility-->
    <script src="js/vendor/rem.min.js" type="text/javascript"></script>
    
    <!-- add slick.js to page for the image loader, and custom scripting rules below -->
    <script type="text/javascript" src="js/vendor/slick/slick.min.js"></script>
    <script type="text/javascript" src="js/slick.js"></script>

  </body>
</html>