        </section>
        
        <!-- global footer content -->
        <a href="/guestbook"><button class="button expand">Guest Book</button></a>
        <a href="/gifts"><button class="button expand">Gifts</button></a>
      
      <a class="exit-off-canvas"></a>

      </div>
    </div><!-- end navigation menu and main content -->
  
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
    <script src="js/vendor/rem.min.js" type="text/javascript"></script>
  </body>
</html>