<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
<!-- Harriet's site had to support as many different browsers as possible considering
the guest list has many elderly folks. Found article to help Foundation 5 framework
work on IE 8 and 9 here: http://foundation.zurb.com/forum/posts/241-foundation-5-and-ie8

Additionally, needed a way to render rem units, so used method found using
rem-unit-polyfill here: http://chuckcarpenter.github.io/REM-unit-polyfill/ -->

<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
<![endif]-->

  <link rel="stylesheet" href="styles/css/foundation.min.css" />
  <script src="js/vendor/modernizr.js"></script>

</head>
<body>

<!-- navigation menu -->
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">
    <nav class="tab-bar">

      <section class="middle tab-bar-section">
        <a href="/"><h1 class="title">Harriet Mason</h1></a>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
      </section>
    </nav>


    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Users</label></li>
        <% if (user) { %>
          <li><a href="#">Logged in as <%= user.email %></a></li>
          <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/login">Log In </a></li>
          <li><a href="/signup">Sign Up</a></li>
        <% } %>

        <li><label>Harriet's Life</label></li>
        <li><a href="/about">Harriet's Story</a></li>
        <li><a href="/newsletter">Words from Harriet</a></li>

        <li><label>Sharing Moments</label></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/contact">Contact</a></li>

        <li><label>Celebrating 85 Years</label></li>
        <li><a href="/event">Event Details</a></li>
        <li><a href="/event">RSVP</a></li>
      </ul>
    </aside>

    <section class="main-section">
      <!-- content goes here -->