<nav class="tab-bar">

  <section class="middle tab-bar-section">
    <a href="/"><h1 class="title">Harriet Mason</h1></a>
  </section>

  <section class="right-small">
    <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>

</nav>

<aside class="right-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><label>Users</label></li>
    <% if (user) { %>
      <li><a href="/users/<%= user.id %>">Logged in as <%= user.email %></a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/guestbook/<%= user.id %>/new">new guestbook entry</a></li>
    <% } else { %>
      <li><a href="/login">Log In </a></li>
      <li><a href="/signup">Sign Up</a></li>
    <% } %>

    <li><label>Harriet's Life</label></li>
    <li><a href="/about">Harriet's Story</a></li>
    <li><a href="/newsletter">Words from Harriet</a></li>

    <li><label>Sharing Moments</label></li>
    <li><a href="/gallery">Gallery</a></li>
    <li><a href="/contact">Contact</a></li>

    <li><label>Celebrating 85 Years</label></li>
    <li><a href="/event">Event Details</a></li>
    <li><a href="/event">RSVP</a></li>
  </ul>
</aside>