<!--views/guestbook/deleted.ejs-->
<% include ../header %>

  <div class="row">
    <div class="small-12 small-centered medium-8 medium-centered large-8 large-centered columns">

    <div class="panel callout">Your entry was successfully deleted!</div>
    
    </div>
  </div>

<% include ../footer %>