<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

<% postList.forEach( function (post) { %>
  <div>
    <%= post.title %>
    <%= post.content %>
  </div>
<% })%>
  
</body>
</html>