<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>

<form action="/guestbook" method="POST">
  <input type="text" name="post[title]" placeholder="post title">
  <textarea name="post[content]" cols="30" rows="10" placeholder="post content"></textarea>
  <button>Save</button>
</form>
  
</body>
</html>