<!--views/guestbook/new.ejs-->
<% include ../layouts/header %>

<!-- wrapper  -->
<div class="row">
  <div class="small-12 columns">

    <h1>New Guestbook Entry</h1> 
    <% include ../forms/newguestbookform %>
    
  </div>
</div>

<% include ../layouts/footer %>