<!--views/guestbook/show.ejs-->
<% include ../layouts/header %>

<!-- wrapper  -->
<div class="row">
  <div class="small-12 columns">

    <a href="/guestbook"><h1>GUESTBOOK</h1></a>

    <% include ../layouts/postSingleBody %>
    
    <!-- delete this post -->
    <p>
      <form method="post" action="/guestbook/<%= post.user.id %>/post/<%= post.id %>?_method=DELETE" ><button class="alert expand">delete entry</button></form>
    </p>

    <!-- HELP post to guestbook -->
    <p>
      <a href="/guestbook/<= user.id || '' HELP >/new">
      <button class="success expand">post to guestbook</button></a>
    </p>

    </div>
  </div>
</div>



<hr>

<% include ../layouts/footer %>

