<form action="/guestbook/<%=user.id%>/new" method="POST">
  <input type="text" name="post[title]" placeholder="post title">
  <input type="text" name="post[img_url]" placeholder="image url">
  <textarea name="post[content]" cols="30" rows="10" placeholder="post content"></textarea>
  <button>Save</button>
</form>