<form method="POST" action="/users">
  <fieldset>
    
    <legend>Sign Up</legend>
    
    <label>Username
      <input type="text" name="user[email]" placeholder="valid email address">
    </label>
    
    <label>Password
      <input type="text" name="user[password]" placeholder="password must be at least 8 characters">
    </label>

    <button class="expand">save</button>
  
  </fieldset>
</form>