<!--views/site/about.ejs-->
<% include ../layouts/header %>

<h3>EARLY YEARS</h3>

<p>Harriet Jean Tenhoff was born in Marshall, MN – a small town in southwestern Minnesota – to Charles and Ruth Tenhoff.  Harriet was the younger sister to big brother Warren, 6 years her senior.</p>

<p>She grew up in Balaton, MN – current population in 2014 of 630 people.</p>

<p>Harriet was a curious and active child, with a love of horses.  She spent a couple weeks during the summers at her parent’s cabin at Lake Ada, and during high school worked in the pharmacy her dad ran in Balaton.  The pharmacy had an old-fashioned soda fountain at that time.</p>

<p>Harriet’s dad, the town pharmacist, eventually handed over his practice to her brother Warren.  Harriet’s nephew, Warren’s son Tom, is also a pharmacist.</p>

<p>Harriet also knew she wanted to go into the medical profession – to become a nurse.</p>

<p>One of the turning points of Harriet’s young life is when she gave her life to Christ.  This was to shape her decisions going forward at every step.  At one point, she thought she might become a missionary nurse.</p>

<p>Harriet graduated as valedictorian of her high school graduating class.</p>

<h3>TRAINING AND EARLY CAREER</h3>

<p>
  While Harriet had always wanted to be a nurse, she decided to first attend Bible School for three years in Minneapolis, after which she then attended nursing school.
</p>

<p>
  After completing her nursing training, Harriet worked for a year in the Twin Cities at a hospital before deciding to move across the country to work with a woman she had met in Bible School.
</p>  

<p>
  She moved to Los Angeles where she lived with seven other women in a large, historical home and worked in a hospital in LA.
</p>

<p>
  She later moved down to San Diego, where she met her future husband, Daryl Mason.  They courted and decided to get married before Daryl moved to Glen Eyrie to complete his missionary training, while Harriet moved to Northern California (Oakland).  Harriet and Daryl were married in Japan.
</p>

<h3>LIFE IN JAPAN</h3>

<p>
  Harriet and Daryl worked with the Navigators for 13 years in Japan, first ministering to military servicemen, and then later to Japanese businessmen, and finally to Japanese college students.  Harriet met and worked with many people, some of whom became life-long friends.
</p>

<p>
  Also during the years Harriet lived in Japan, she and Daryl adopted two children – one a young Hispanic girl (adopted when the two were on furlough in the U.S.), Aurelia, and a Japanese boy, Ken.
</p>

<h3>COLORADO SPRINGS</h3>


<p>
  Harriet and her family left mission work and moved back to the U.S. in 1975, eventually settling in Colorado Springs, CO, home to the Navigator headquarters.
</p>

<p>
  Harriet worked as a nurse at various local hospitals, and in home care, eventually settling at a local Hospice care home.
</p>  

<p>
  She worked in a Hospice for ten years prior to her retirement, ministering to both patients and family members in a unique way.
</p>

<p>
  Harriet was an active member of the Austin Bluffs Evangelical Free Church in Colorado Springs, as well as taking part in activities at Glen Eyrie, the Navigator headquarters.  She continued to be active in prayer groups and ministering to people in various ways, including extending her friendship to a varied group of individuals.
</p>

<p>
  For example, Harriet and Daryl hosted several foreign exchange students over the years.
</p>

<p>
  Harriet’s two children attended schools in Colorado, and the both graduated high school in Colorado Springs (Aurelia graduating college at Colorado College).
</p>

<h3>SANDIEGO</h3>

<p>
  Harriet moved to San Diego at the request of her daughter in 2000, where she was able to assist Aurelia as a single mom in caring for Aurelia’s son, Angelo.
</p>

<p>
  In San Diego, Harriet rekindled old friendships with long time friends, and became an active member of the Covenant Presbyterian church.
</p>

<p>
  She was a huge help to her daughter, and grandson, and left San Diego after her grandson graduated from high school.
</p>

<h3>PORTLAND</h3>

<p>
  Harriet then moved to Portland, OR, to live with her son and his family in 2005.  Harriet’s son, Ken, had graduated college in Portland several years earlier (George Fox University), and met his wife in Portland.
</p>  

<p>
  Ken’s wife’s extended family is for the most part in the Portland area, where Harriet now resides.
</p>

<p>
  Harriet attends two churches in Portland, St. Luke’s Lutheran church and the Japanese International Baptist church.  She has made many new friends in Portland and enjoys being a part of her son’s household.
</p>

<p>
  Harriet volunteers in various ways in the area, and takes part in a prayer group.
</p>

<h3>FAMILY</h3>

<p>
  Harriet’s brother, Warren, married Jane, and they had two children, Carol and Tom.  Carol married Dale Miller and had two children, Mike and Nathan.  Mike is married to Morgan.
</p>

<p>
  Tom married Deb, and they had one son, Brett.
</p>

<p>
  Daryl had two sisters, Shirley and Lois.  Shirley was married to Phil, and had one daughter, Linda, now married to Mike.  Lois had one son, Jay (Mason), now married to Erin.  They have one son, Ronin.
</p>

<p>
  Harriet’s son, Ken, is married to Mandy, and they have three boys, and a baby on the way.  Ken has two step-sons, Drew (18) and Evan (17), and Ken and Mandy have a son together, Cash (7).  Mandy is due to give birth in July.
</p>

<p>
  Harriet’s daughter, Aurelia, has two children – Angelo, age 27, and Nayeli (7 months).
</p>



<p>
  Harriet’s daughter says there are two words she uses to describe her mother:  Courageous and Kind.  It was an unusual thing in the 50’s for a woman to move such long distances – first across the country by herself, and then to another country where she didn’t initially know the language.  This shows her extreme courage.  She also connects with people wherever she goes, and keeps in contact with them.  She deeply cares about others, praying for people constantly.  These are just some actions of kindness that Harriet continuously exhibits.
</p>

<% include ../layouts/footer %>