<!--views/site/about.ejs-->
<% include ../layouts/header %>

<h1>Harriet's Story</h1>
Her Story – pics and the write up  [may put the video here, OR have a separate page for the video]

<% include ../layouts/footer %>