<!--views/site/index.ejs-->
<% include ../header %>
  
  <div class="row">
    
    <h1>Welcome to Harriet Mason's Site</h1>

    <!-- <div class="small-12 small-centered medium-12 medium-centered large-12 large-centered columns"> -->
      <div class="single-item responsive center">
        <div><img src="img/e122.jpg" alt=""></div>
        <div><img src="img/e125.jpg" alt=""></div>
        <div><img src="img/e126.jpg" alt=""></div>
      </div>
   <!--  </div> -->
  </div>

  <div class="row">
    <div class="small-10 small-centered medium-10 medium-centered large-10 large-centered columns">
      
      <!-- div filled with script js/flipclock -->
      <div class="clock"></div>
      
    </div>
  </div>

  <div class="row">
    <div class="small-10 small-centered medium-10 medium-centered large-10 large-centered columns">
      <p>with an overview of the birthday celebration idea</p>
    </div>
  </div>

  <div class="row">
    <div class="small-10 small-centered medium-10 medium-centered large-10 large-centered columns">
      <a href="/travel"><button>Book Travel</button></a>
      <button>Book Travel</button>
    </div>
  </div>

<% include ../footer %>



