<!--views/site/index.ejs-->
<% include ../header %>

  <% if (user) { %>
    Logged in as <%= user.email %><br>
    <a href="/logout">Logout</a>
  <% } else { %>
    Welcome to our site
    <div>
      <a href="/login">Log In </a>
    </div>
    <div>
      <a href="/signup">Sign Up</a>
    </div>
  <% } %>

<% include ../footer %>



