<!--views/site/index.ejs-->
<% include ../header %>
  
  <div class="row">
    <!-- <div class="small-12 small-centered medium-12 medium-centered large-12 large-centered columns"> -->
      <div class="single-item responsive center">
        <div><img src="img/e122.jpg" alt=""></div>
        <div><img src="img/e125.jpg" alt=""></div>
        <div><img src="img/e126.jpg" alt=""></div>
      </div>
   <!--  </div> -->
  </div>

<% include ../footer %>



