<!--views/users/login.ejs-->
<% include ../layouts/header %>

  <div class="row">
    <!-- <div class="small-12 small-centered medium-8 medium-centered large-8 large-centered columns"> -->
    <div class="panel">
      <p>
        Please sign up with your preferred contact email. We will give the list to Harriet to update her records. Once you sign in please update your mailing address on the user profile page
      </p>
    </div>
      
    <dl class="tabs" data-tab>
      <dd class="active"><a href="#loginform">Login</a></dd>
      <dd><a href="#signupform">Signup</a></dd>
    </dl>
    <div class="tabs-content vertical">
      <div class="content active" id="loginform">
        <p><% include ../forms/loginform %></p>
      </div>
      <div class="content" id="signupform">
        <p><% include ../forms/signupform %></p>
      </div>
    </div>
    
    <!-- </div> -->
  </div>

<% include ../layouts/footer %>

