<!--views/users/profile.ejs-->
<% include ../header %>

<div class="row">
  
  <p>
    <h3>Your Username is: </h3><%= user.email %>
  </p>

  <dl class="tabs" data-tab>
    <dd class="active"><a href="#newform">Contact Info</a></dd>
    <dd><a href="#addressform">Signup</a></dd>
  </dl>
  <div class="tabs-content vertical">
    <div class="content active" id="newform">
      <p><% include ./forms/newform %></p>
    </div>
    <div class="content" id="addressform">
      <p><% include ./forms/addressform %></p>
    </div>
  </div>

</div>


<% include ../footer %>

