<!--views/users/profile.ejs-->
<% include ../header %>
<h1>update demographics after first login</h1>
  <div>
    Your Username is: <%= user.email %>
    <div>
      <% include ./forms/newform %>
    </div>
  </div>
<% include ../footer %>