<!--views/users/profile.ejs-->
<% include ../layouts/header %>

<div class="row">
  <div class="small-12 small-centered medium-12 medium-centered large-12 large-centered columns">
      
    <p>
      <h3>Welcome! Your Username is: <small><%= user.email %></small></h3> 
    </p>
    
    <!-- enter/edit userDemog in tabs -->
    <% include ../layouts/profileEditTabs %>

  <!-- profile quicklinks -->
    <div class="row">  
      <div class="small-10 medium-8 columns">
        <h3><a href="/event">CELEBRATE</a></h3> 
        <p>
          Harriet would love everyone – both those attending in person, as well as those who are unable to attend live – to sign the below “guest book” and share with her your memories of how you met, a special time you shared together, or something special you want to say to Harriet.
        </p>
      </div>
      <div class="small-2 medium-4 columns">
        <a href="/event"><i class="fa fa-birthday-cake fa-3x"></i></a>
      </div>
    </div>

    <div class="row">  
      <div class="small-10 medium-8 columns">
        <h3><a href="/guestbook">GUESTBOOK</a></h3> 
        <p>
          Harriet would love everyone – both those attending in person, as well as those who are unable to attend live – to sign the below “guest book” and share with her your memories of how you met, a special time you shared together, or something special you want to say to Harriet.
        </p>
      </div>
      <div class="small-2 medium-4 columns">
        <a href="/guestbook"><i class="fa fa-comments-o fa-3x"></i>
      </div>
    </div>

    <div class="row">  
      <div class="small-10 medium-8 columns">
        <h3><a href="/gallery">GALLERY</a></h3>
        <p>
          Harriet would love everyone – both those attending in person, as well as those who are unable to attend live – to sign the below “guest book” and share with her your memories of how you met, a special time you shared together, or something special you want to say to Harriet.
        </p>
      </div>
      <div class="small-2 medium-4 columns">
        <a href="/gallery"><i class="fa fa-camera-retro fa-3x"></i></a>
      </div>
    </div>
        
  </div>
</div>

<% include ../layouts/footer %>