<form method="POST" action="/login">
  <fieldset>
    
    <legend>Login</legend>
    
    <label>
      <input type="text" name="user[email]" placeholder="Username: valid email address">
    </label>
    
    <label>
      <input type="password" name="user[password]" placeholder="Password: must be at least 8 characters">
    </label>

    <button class="success expand">login</button>
  
  </fieldset>
</form>