<form method="POST" action="/userdemog/<%=user.id %>">
  <fieldset>
    
    <legend>User Details</legend>
    
    <label>
      <input type="text" name="userDemog[firstName]" placeholder="first name">
    </label>
    
    <label>
      <input type="text" name="userDemog[lastName]" placeholder="last name" >
    </label>

    <label>
      <input type="text" name="userDemog[suffix]" placeholder="suffix, e.g. Jr, III, MD, JD">
    </label>

    <!-- <label>
      <input type="text" name="userDemog[age]" placeholder="age in years"  >
    </label>

    <label>
      <input type="text" name="userDemog[birthday]" placeholder="MM/DD/YYYY">
    </label>

    <label>
      <input type="text" name="userDemog[genderPreference]" placeholder="gender preference">
    </label> -->

    <button class="success expand">save</button>
  
  </fieldset>
</form>